/* All of YOUR styles go here. They take effect after those in the normalize CSS file, but will overwrite anything that conflicts. */
#ghost {
    display: none;
}

#car {
    position: relative;
}